
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    --page-color: #e25271;
    --left-position-all-in-left-column: 5%;
    --main-content-presentation-myphoto-wrapper-width: 14rem;
    --main-content-presentation-myphoto-wrapper-height: 12.5rem;
    --main-content-presentation-myphoto-wrapper-left: 25%;
    --main-content-presentation-myphoto-wrapper-top: 1.5rem;
    /* --left-position-all-in-left-column: 5%; */
    --footer-footer-wrapp-top: 200%;
    --rightColumn-strips-height: 1.2rem;
    --rightColumn-ending-width: 11%;
    --rightColumn-progress-HTML-top: 3.2rem;
    --space-between-progress-strip: 1.6rem;
    --rightColumn-progress-CSS-top: calc(var( --space-between-progress-strip) + var(--rightColumn-progress-HTML-top));
    --rightColumn-progress-JS-top: calc(var( --space-between-progress-strip) + var(--rightColumn-progress-CSS-top));
    --rightColumn-progress-Java-top: calc(var( --space-between-progress-strip) + var(--rightColumn-progress-JS-top));
    --rightColumn-progress-C_sharp-top: calc(var( --space-between-progress-strip) + var(--rightColumn-progress-Java-top));
    --rightColumn-progress-CandCplus-top: calc(var( --space-between-progress-strip) + var(--rightColumn-progress-C_sharp-top));
    --text-in-progress-strip-topPosition: 0.005rem;
    --progressStrip-left-position: 55%;
}

html {
    height: 100%;
}

body {
    font-family: "Arial", "Helvetia", "sans-serif";
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 94%;
    min-height: 100%;
}

.main-contener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.main-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 13%;
    width: 100%;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    transition: top 0.3s;
}

.main-nav__menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-nav__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: center;
}

#projects, #contact {
    color: var(--page-color);
}

#contact {
    position: relative;
    top: 0;
    margin: 0;
}

#projects:hover, #aboutMe:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

#contact button {
    background-color: var(--page-color);
    display: inline-block;
    border-radius: 18px;
    border: 1px solid var(--page-color);
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 5px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

#contact button:hover {
    background-color: #f24437;
}

#contact button:active {
    position: relative;
    top: 1px;
}

.main-nav__horizontal-separator {
    position: absolute;
    top: 3.2rem;
    width: 85%;
    height: 0.2rem;
    background-color: var(--page-color);
    margin: 0 2% 0;
    border-radius: 5%;
}

.main-presentation {
    position: absolute;
    left: 0;
    top: 20%;
    height: 100%;
    width: 100%;
}

.main-presentation__flex_wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 2%;
    width: 100%;
    height: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.main-presentation__flex_wrapper-left-column {
    position: relative;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    left: 2%;
    padding: 1px;
    margin: 0;
    width: 100%;
    /* background-color: yellow; */
    min-height: 80%;
}

.main-presentation__flex_wrapper-right-column {
    position: relative;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1px;
    margin: 0;
    left: 2%;
    width: 100%;
    min-height: 80%;
}

.main-presentation__desc-wrapper {
    position: absolute;
    left: var(--left-position-all-in-left-column);
    top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    z-index: 5;
}

.main-presentation__name-wrapper {
    position: absolute;
    top: 3rem;
    left: var(--left-position-all-in-left-column);
    padding: 0;
    width: 100%;
    font-size: 2rem;
}

.main-presentation__presentation-wrapper {
    position: absolute;
    left: var(--left-position-all-in-left-column);
    top: 6rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.main-presentation__myProjects button {
    background-color: transparent;
    display: inline-block;
    border-radius: 18px;
    border: 1px solid var(--page-color);
    cursor: pointer;
    color: var(--page-color);
    font-family: Arial;
    padding: 5px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myProjects button:hover {
    background-color: #f24437;
    color: white;
}

.myProjects button:active {
    position: relative;
    top: 1px;
}

.main-presentation__moreAbout {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    color: var(--page-color);
}

.main-presentation__moreAbout:hover {
    cursor: pointer;
    font-size: 1.1rem;
}

.main-presentation__myphoto-wrapper {
    position: absolute;
    top: var(--main-content-presentation-myphoto-wrapper-top);
    left: var(--main-content-presentation-myphoto-wrapper-left);
    width: var(--main-content-presentation-myphoto-wrapper-width);
    height: var(--main-content-presentation-myphoto-wrapper-height);
    background-color: #c5c5c7;
    margin: 0 auto;
}

.main-presentation__myphoto {
    position: relative;
    width: 73%;
    top: 13%;
    left: 0;
    margin: 0 auto;
    padding: 0;
    height: 73%;
}

.main-presentation__myphoto img {
    display: block;
    max-width: 320px;
    max-height: 320px;
    width: 100%;
    height: 100%;
}

.main-presentation__symbol1-wrapper {
    position: absolute;
    left: 79%;
    top: 1rem;
    width: 5%;
    height: 15%;
    -webkit-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
            transform: rotate(11deg);
}

.main-presentation__spring_1 {
    position: absolute;
    left: 20%;
    top: 0.1rem;
    width: 8%;
    height: auto;
    z-index: 2;
}

.main-presentation__spring_1 img {
    width: 110%;
    height: 110%;
}

.main-presentation__symbol_2 {
    position: absolute;
    left: 30%;
    top: 10rem;
    z-index: 3;
    -webkit-transform: rotate(-10deg) scale(1.2);
        -ms-transform: rotate(-10deg) scale(1.2);
            transform: rotate(-10deg) scale(1.2)
}

.main-presentation__spring_2 {
    position: absolute;
    left: 69%;
    top: 13.5rem;
    width: 8%;
    height: auto;
    z-index: 3;
}

.main-presentation__spring_2 img {
    width: 100%;
    height: 100%;
}

.main-presentation__spring_3 {
    position: absolute;
    left: 10%;
    top: 9rem;
    width: 8%;
    height: auto;
    z-index: 3;
    -webkit-transform: rotate(65deg);
        -ms-transform: rotate(65deg);
            transform: rotate(65deg);
}

.main-presentation__spring_3 img {
    width: 100%;
    height: 100%;
}

/* RECTANGLE ABOUT ME */

.aboutMe__aboutMeRectangle {
    position: relative;
    left: 0;
    width: 100%;
    top: 4rem;
    height: 19rem;
    z-index: 5;
    margin: 0 auto 0;
}

.aboutMe__aboutMeRectangle img {
    max-width: 1030x;
    max-height: 400px;
    width: 100%;
    height: 100%;
}

/* MAIN-CONTENER-ABOOUT-ME */

.aboutMe {
    position: absolute;
    top: 19rem;
    left: 17.5%;
    height: 55%;
    width: 70%;
    z-index: 6;
}

.aboutMe__flexContainer {
    position: absolute;
    top: 33%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80%;
    width: 100%;
    z-index: 7;
}

.aboutMe__leftColumn-flex {
    width: 100%;
    min-height: 80%;
}

.aboutMe__leftColumn-aboutMe {
    position: absolute;
    font-size: 2rem;
    left: 5%;
    top: 0.8rem;
    color: var(--page-color);
}

.aboutMe__Me {
    position: absolute;
    left: 5%;
    top: 3rem;
    font-size: 1.5rem;
}

.aboutMe__MeText {
    position: relative;
    top: 5rem;
    left: 9%;
    width: 60%;
}

.aboutMe__MeText-text {
    position: relative;
    font-size: 0.74rem;
    left: 12%;
    color: var(--page-color);
}

.aboutMe__rightColumn-flex {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    width: 100%;
    min-height: 80%;
}

.aboutMe__skills {
    position: absolute;
    font-size: 1.3rem;
    top: 1rem;
    left: 52%;
}

.aboutMe__gray-strip {
    width: 35%;
    left: 5%;
    height: var(--rightColumn-strips-height);
    background-color: lightgrey;
}

.aboutMe__red-strip {
    position: absolute;
    top: 0;
    left: -1%;
    height: 100%;
    background-color: var(--page-color);
    border-radius: 10px;
}

/* BEGINING OF PROGRESS HTML STYLING*/

.aboutMe__rightColumn-progress-HTML>.aboutMe__red-strip {
    width: 70%;
}

.aboutMe__rightColumn-progress-textHTML {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.7%;
    /* color: white; */
}

.aboutMe__rightColumn-progress-textPrecentHTML {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

.aboutMe__rightColumn-progress-HTML {
    position: absolute;
    top: var(--rightColumn-progress-HTML-top);
    left: var(--progressStrip-left-position);
}

/* END OF PROGRSS HTML STYLING*/

/* BEGIN OF PROGRESS STYLING CSS */

.aboutMe__rightColumn-progress-CSS {
    position: absolute;
    top: var(--rightColumn-progress-CSS-top);
    left: var(--progressStrip-left-position);
}

.aboutMe__rightColumn-progress-CSS>.aboutMe__red-strip {
    width: 70%;
}

.aboutMe__rightColumn-progress-textCSS {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.5%;
}

.aboutMe__rightColumn-progress-textPrecentCSS {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

/* END OF PROGRSS CSS STYLING*/

/*BEGIN OF PROGRESS STYLING JAVASCRIPT */

.aboutMe__rightColumn-progress-JavaScript {
    position: absolute;
    top: var(--rightColumn-progress-JS-top);
    left: var(--progressStrip-left-position);
}

.aboutMe__rightColumn-progress-JavaScript>.aboutMe__red-strip {
    width: 70%;
}

.aboutMe__rightColumn-progress-textJS {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.5%;
    /* color:white; */
}

.aboutMe__rightColumn-progress-textPrecentJS {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

/* END OF PROGRSS JAVASCRIPT STYLING*/

/*BEGIN OF PROGRESS STYLING JAVA */

.aboutMe__rightColumn-progress-Java {
    position: absolute;
    top: var(--rightColumn-progress-Java-top);
    left: var(--progressStrip-left-position);
}

.aboutMe__rightColumn-progress-Java>.aboutMe__red-strip {
    width: 30%;
}

.aboutMe__rightColumn-progress-textJava {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.5%;
}

.aboutMe__rightColumn-progress-textPrecentJava {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

/* END OF PROGRSS JAVA STYLING*/

/*BEGIN OF PROGRESS STYLING C# */

.aboutMe__rightColumn-progress-C_sharp {
    position: absolute;
    top: var(--rightColumn-progress-C_sharp-top);
    left: var(--progressStrip-left-position);
}

.aboutMe__rightColumn-progress-C_sharp>.aboutMe__red-strip {
    width: 30%;
}

.aboutMe__rightColumn-progress-textC_sharp {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.5%;
}

.aboutMe__rightColumn-progress-textPrecentC_sharp {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

/* END OF PROGRSS C# STYLING*/

/*BEGIN OF PROGRESS STYLING C/C++ */

.aboutMe__rightColumn-progress-CandCplus {
    position: absolute;
    top: var(--rightColumn-progress-CandCplus-top);
    left: var(--progressStrip-left-position);
}

.aboutMe__rightColumn-progress-CandCplus>.aboutMe__red-strip {
    width: 50%;
}

.aboutMe__rightColumn-progress-textCandCplus {
    position: absolute;
    top: var( --text-in-progress-strip-topPosition);
    left: 30%;
    padding-top: 0.5%;
}

.aboutMe__rightColumn-progress-textPrecentCandCplus {
    position: absolute;
    top: 0;
    left: 102%;
    padding-top: 0.7%;
}

/*END OF PROGRESS STYLING C/C++ */

.redRectangle {
    position: absolute;
    left: 0;
    width: 100%;
    top: 30rem;
    height: 28rem;
    margin: 0 2% 0;
}

.redRectangle img {
    max-width: 1130x;
    max-height: 550px;
    width: 100%;
    height: 100%;
}

.redRectangle__skills-header {
    position: relative;
    top: -16rem;
    left: 0;
    width: 100%;
    z-index: 6;
    
}

.redRectangle__skills-header h3 {
    text-align: center;
    color: white;
}

.redRectangle__closingMessage  {
    position: absolute;
    top: 16.5rem;
    left:5%;
    width:90%;
    height:auto;
    margin:0 auto;
    background-color:var(--page-color);
    visibility:hidden;
}

.redRectangle__closingMessage button { 
    width:100%;
    border-radius: 18px;
    border: 1px solid var(--page-color);
    color:blue;
    font-weight: bolder;
 }

 .redRectangle__closingMessage button:hover {
    background-color:gold;
    cursor:pointer;   
}

.skills-container {
    position: absolute;
    left: 0;
    top: 48rem;
    width: 100%;
    height: 100%;
}

.skills-container__skillsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
}

.skills-container__skillsList li:hover {
    font-size: 1.2rem;
    color: aqua;
}

.skills-container__skillsList li:active {
    font-size: 1.2rem;
    color: yellow;
}

.projectDivPosition {
    position: absolute;
    left: 9%;
    top: 6rem;
    width: 85%;
    height: 15rem;
    margin: 0 auto;
    z-index: 4;
    overflow: scroll;
}

.skills-container h2 {
    text-align:center;
}

/*BEGINNING OF STYLING  languageCandCplusWindow*/

.skills-container__languageCandCplusWindow {
    border: 2px solid blue;
    visibility: hidden;
    background-color: white;
}

.skills-container__languageCandCplusWindow_description {
    position: absolute;
    top: 4.5rem;
    left: 1%;
    width: 45%;
}

.skills-container__atMega32code {
    position: absolute;
    top: 4rem;
    left: 47%;
    width: 35%;
    height: auto;
    padding: 0;
    margin: 0;
}

.skills-container__imageAtmega32 {
    position: absolute;
    top: 4rem;
    left: 85%;
    width: 80px;
    height: auto;
}

.skills-container__imageAtmega32 img {
    width: 100%;
    height: 100%;
}

.skills-container__frontPlace {
    position: absolute;
    top: 9rem;
    left: 85%;
    width: 80px;
    height: auto;
}

.skills-container__frontPlace img {
    width: 100%;
    height: 100%;
}

/*END OF STYLING  languageCandCplusWindow*/

/* BEGINNING OF STYLING languageCsharp */

.skills-container__languageCsharpWindow {
    border: 2px solid blue;
    background: white;
    visibility: hidden;
}

.skills-container__languageCsharpWindow-description {
    position: absolute;
    top: 4.5rem;
    left: 1%;
    width: 45%;
}

.skills-container__imageIdPos {
    position: absolute;
    top: 4rem;
    left: 89%;
    width: 80px;
    height: auto;
}

.skills-container__imageIdPos img {
    width: 100%;
    height: 100%;
}

.skills-container__CsharpCode {
    position: absolute;
    top: 1.5rem;
    left: 50%;
    /*18%;*/
    width: 35%;
    height: auto;
    /*20rem;*/
    text-align: justify;
}

/* END OF STYLING languageCsharp */

/* BEGINNING OF STYLING languageJava */

.skills-container__languageJavaWindow {
    border: 2px solid blue;
    background: white;
    visibility: hidden;
}

.skills-container__languageJavaWindow-description {
    position: absolute;
    top: 4.5rem;
    left: 1%;
    width: 45%;
}

.skills-container__imageIdPos {
    position: absolute;
    top: 4rem;
    left: 89%;
    width: 80px;
    height: auto;
}

.skills-container__imageIdPos img {
    width: 100%;
    height: 100%;
}

.skills-container__JavaCode {
    position: absolute;
    top: 4rem;
    left: 47%;
    width: 35%;
    height: 20rem;
    height: auto;
    text-align: justify;
}

/* END OF STYLING languageJava */

/* BEGINNING OF STYLING languageJS */

.skills-container__languageJSWindow {
    border: 2px solid blue;
    background: white;
    height: 15rem;
    visibility: hidden;
}

.skills-container__languageJSWindow-description {
    position: absolute;
    top: 4.5rem;
    left: 1%;
    width: 40%;
}

.skills-container__Excell {
    position: absolute;
    top: 4rem;
    left: 85%;
    width: 110px;
    height: auto;
}

.skills-container__Excell img {
    width: 100%;
    height: 100%;
}

.skills-container__json {
    position: absolute;
    top: 8rem;
    left: 88%;
    width: 80px;
    height: auto;
}

.skills-container__json img {
    width: 100%;
    height: 100%;
}

.skills-container__JSCode {
    position: absolute;
    top: 4rem;
    left: 40%;
    width: 50%;
    height: auto;
    /*20rem;*/
}

/* END OF STYLING languageJS */

/* BEGINNING OF STYLING HTML-CSS */

.skills-container__HTML_CSSWindow {
    border: 2px solid blue;
    background: white;
    height: 15rem;
    visibility: hidden;
}

.skills-container__HTML_CSSWindow-description {
    position: absolute;
    top: 5rem;
    left: 6%;
    width: 42%;
}

/* END  OF STYLING HTML-CSS */

.iframeClass {
    position: relative;
    width: 15rem;
    top: -0.8rem;
    height: 11rem;
    left: 60%;
    z-index: 4;
}

iframe {
    width: 100%;
    height: 100%;
}

.footer-wrapper {
    position: absolute;
    left: 1.5%;
    top: 15rem;
    width: 100%;
    background-color: white;
}

.footer-wrapper__blackRectangle {
    position: absolute;
    top: 13rem;
    left: 2.3%;
    width: 99.3%;
    height: 15rem;
    background-color: black;
    margin: 0 auto;
    z-index: 1;
}

.form input:hover {
    background-color: rgb(240, 232, 188);
}

.footer-wrapper__contact-wrapper {
    position: relative;
    top: 18rem;
    width: 30%;
    height: 22rem;
    margin: 0 auto;
    border: 2px cadetblue solid;
    z-index: 5;
}

.footer-wrapper__title {
    position: relative;
    top: 0;
    text-align: center;
}

.form {
    position: relative;
    width: 90%;
    left: 0;
    margin: 0 auto;
}

.form__text-inputs input {
    width: 100%;
}

.form__text-inputs textarea {
    width: 100%;
}

.form__buttons {
    display: inline-block;
    margin: 0 auto;
}

.form__buttons input {
    display: inline-block;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-wrapper__white-rectangle_top {
    position: absolute;
    left: 1.8%;
    width: 99.6%;
    top: 6rem;
    height: 10rem;
    z-index: 2;
}

.footer-wrapper__white-rectangle_top img {
    max-width: 1030px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.footer-wrapper__white-rectangle_bottom {
    position: absolute;
    top: 14rem;
    left: 1.8%;
    width: 100.1%;
    height: 120%;
    z-index: 4;
}

.footer-wrapper__white-rectangle_bottom img {
    max-width: 1030x;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.break {
    display: block ;
    height: 10px;
}

@media only screen and (max-width:800px) {
    .main-presentation__flex_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .main-presentation__flex_wrapper-left-column, .main-presentation__flex_wrapper__right-column {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .main__nav-horizontal-separator {
        width: 70%;
    }
    .main-contener__aboutMe {
        left: 1.7%;
        width: 100%;
        height: 55%;
        top: 33rem;
    }
    .redRectangle {
        height: 30rem;
        top: 40rem;
    }
    .skills-container {
        top: 63rem;
    }

    .aboutMe__aboutMeRectangle {
        /* position: relative;
        left: 0; */
        /* width: 100%; */
        top: 10rem;
    }

    .redRectangle__skills-header {
        top: -16rem;
    }
    .redRectangle__closingMessage {
        position: relative;
        top: -10rem;
        left: 0;
    }
    .footer-wrapper__title {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:500px) {
    .main-presentation__flex_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .flex_wrapper__left-column, .flex_wrapper__right-column {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .main__nav-horizontal-separator {
        width: 70%;
    }

    .skills-container h2 {
        font-size: 0.9em;
        text-align: center;
    }


    .skills-container__languageCandCplusWindow_description {
        font-size:smaller;
    }


    .skills-container__languageCsharpWindow-description {
        font-size:smaller;
    }


    .skills-container__languageJavaWindow-description {
        font-size:smaller;
    }


    .skills-container__languageJSWindow-description {
        font-size:smaller;
    }


    .skills-container__HTML_CSSWindow-description {
        font-size:smaller;
    } 
    
    .main-presentation__desc-wrapper {
        font-size: 1.2rem;
    }
    .redRectangle__closingMessage {
        top: -10.04rem;
    }

    .footer-wrapper__title {
        font-size: 1rem;
        text-align: center;
    }

    .aboutMe__MeText-text {
        font-size:0.7rem;
    }

}