.main-contener {
    position:relative;
     background-color: rgba(0, 0, 0, 0.411);
    min-height: 90vh;
    width: 70vw;
    margin: 0 auto;
    margin-top: 0;
}

.timer-contener {
    position:absolute;
    background-color: rgb(35, 35, 83);
    left:2%;
     width: 10rem;/*420px;*/
     /* margin-top: 8px; */
    height: 10rem;/*420px;*/
    border-radius: 50%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
      padding-top:1.6rem; 
    text-align: center;

}
